body {
	background: #53507E;
}
.header {
	height: 37px;
	width: 1100px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 115px;
}
.header .logo{
	height: 37px;
}
.header nav {
	float: right;
	font-family: 'Raleway',sans-seif;
	font-weight: 800;
	font-size: 12px;
	margin-top: 12px;
}

nav:hover{
	color: white;
}

nav.active{
	color: white;
	border-bottom: 2px;
	border-style: line;
	color: #FF8ED8;
}
/*
Nav.active
	font color white
	border bottom 2px height
	solid line
	color #FF8ED8 //pink
Left Area
	width 550px
	float left
	Image
Right Area
	width 550px
	float left
	Headline
		font family ‘Raleway’, sans-serif
		font weight 800
		font size 52px
		font color white
		line height 56px
		margin below 35px
	Subtext
		font family ‘Roboto Slab’, serif
		font weight 400
		font size 20px
		font color #B1AEDE //light purple
		margin below 120px
	Button
		height 80px
		padding top/bottom 30px
		padding right/left 45px
		corner radius 40px
		box shadow 0 0 30px rgba(255, 142, 216, 0.75)
		background color #FF8ED8 //pink
		font family ‘Raleway’, sans-serif
		font weight 800
		font size 24px
		font color white
	Button:hover
		box shadow 0 0 30px rgba(64, 61, 101, 0.75)
		font color #403D65 //dark purple
Footer
margin above 100px
height 105px
background color #403D65 //dark purple
Top Row
width 1100px
height 34px
padding top/bottom 10px
padding right/left 0
Nav
font family ‘Raleway’, sans-serif
font weight 800
font size 12px
font color #B1AEDE //light purple
margin right 35px
margin top 10px
Nav:hover
font color white
Social
width 34px
margin left 10px
Social:hover
transparency 0.75
Bottom Row
height 35px
margin above 15px
font family ‘Roboto Slab’, serif
font weight 600
font size 12px
font color #B1AEDE //light purple
text align center

*/